{% extends 'header.html' %}
{% block content %}
    <!--main content start-->
    <style>
        #tbl_sql tbody td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
         .page-header{
                margin-top: 10px;
            }
    </style>
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Database Menu</div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="proxy_owner" class="col-sm-4 control-label">Proxy Owner</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="proxy_owner" >
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <span class="glyphicon glyphicon-search" style="font-size: 12px"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary">新建数据库通道</button>
                                        <button class="btn btn-primary">新建匹配</button>
                                    </div>
                                </div>
                                <div class="page-header"></div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <table class="table table-noborder">
                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Comments</div>
                        <div class="panel-body">
                            Information content
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
{% endblock %}
