{% extends 'header.html' %}
{% block content %}
    <!--main content start-->
    <style>
        #tbl_sql tbody td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <section id="main-content">

    <section class="wrapper tab-container">
        <!-- page start-->
        <div class="tab-content">
            <div class="tab-pane active" id="webData">
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <!--main content end-->
{% endblock %}
