<!DOCTYPE html>
<html>
<head>
    <title>Proxy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.html') }}">
    <script src='{{ url_for('static',filename='JS/modernizr.custom.js') }}'></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static',filename='assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='assets/morris.js-0.4.3/morris.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="static/assets/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/bootstrap-daterangepicker/daterangepicker.css" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style-responsive.css') }}" rel="stylesheet" />

    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.nicescroll.js') }}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->
<script src="{{ url_for('static',filename='js/input-limit.js') }}"></script>
</head>
<style>
    body {
        padding-top: 70px;
        //font-size: 1.15em;
        //background-color: #eee;
    }
    .panel-heading-default{
        background-color: #ddd;
    }
    .div_border{
        width: 230px;
        padding: 10px;
        border-radius: 6px;
        background-color: #eee;
        color: #444;
        font-size: 12px;
        margin-right: 25px;
    }
    .my-checkbox {
         width: 19px;
         height: 25px;
         padding: 0 5px 0 0;
         //background: url({{ url_for('static',filename='img/checkbox.png') }}) no-repeat;
         display: block;
         clear: left;
         float: left;
        }
    .new-div-border{
        padding: 20px;
        background-color: #fff;
        border-radius: 6px;
        margin: 0 6px;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
        border: 1px solid #ccc
    }
    .div-scrollable {
      max-height: 290px;
      overflow-y: scroll;
    }
</style>
<body>
  <section id="container" class="">
  <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><span>proxy</span></a>
            <!--logo end-->

            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="static/img/avatar1_small.jpg">
                            <span class="username">{{ session['username'] }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="javascript:void(0);" data-toggle="modal" data-backdrop="static" data-target="#pwdModal"><i class="icon-lock"></i>ChangePwd</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
                            <li><a href="/login"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!-- Modal -->
                <div class="modal" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm"  style="margin-top:70px;">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Change Password</h4>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">旧密码:</label>
                                <input type="text" class="form-control" id="recipient-name">
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="control-label">新密码:</label>
                                <input type="password" class="form-control" id="inputPwd">
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="control-label">确认新密码:</label>
                                <input type="password" class="form-control" id="inputPwd2">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                          </div>
                        </div>
                      </div>
                </div>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="{% if title == 'Index' %}active{% endif %}">
                      <a class="" href="/index">
                          <i class="icon-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="{% if title == 'Database' %}active{% endif %}">
                      <a href="/database" class="">
                          <i class="icon-rss-sign"></i>
                          <span>Database Proxy</span>
                      </a>
                  </li>
                  <li class="{% if title == 'Sql' %}active{% endif %}">
                      <a href="/sql" class="">
                          <i class="icon-book"></i>
                          <span>Sql Log</span>
                      </a>
                  </li>
                  <li class="sub-menu {% if title in ('Normal','Proxy','User') %}active{% endif %}">
                      <a href="javascript:;" class="">
                          <i class="icon-cogs"></i>
                          <span>System</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li class="{% if title == 'Normal' %}active{% endif %}"><a class="" href="/normal">Normal Config</a></li>
                          <li class="{% if title == 'Proxy' %}active{% endif %}"><a class="" href="/proxy">Proxy Server Config</a></li>
                          <li class="{% if title == 'User' %}active{% endif %}"><a class="" href="/user">User Management</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
{% block content %}{% endblock %}
 </section>

    <!--common script for all pages-->
    <script src="static/js/common-scripts.js"></script>
<script>
    $(function(){
        if(!window.Modernizr.hashchange){
            alert("请下载最新浏览器！");
            window.location.href = "/outdate";
        }
    });
    $(function(){
        $('#myModal').on('show.bs.modal', function (event) {
          var td = $(event.relatedTarget);
          var topId = td.data('topid');
          var sql = td.data('title');
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this);
          modal.find('.modal-title label').text(topId);
          modal.find('.modal-body').text(sql);
        });
    });
    //custom select box

    $(function(){
       //$('select#period').customSelect();
    });
</script>
</body>
</html>
