{% extends 'header.html' %}
{% block content %}
    <!--main content start-->
    <style>
        #tbl_sql tbody td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <section id="main-content">
    <header class="tab-head">
        <ul class="nav nav-tabs">

            <li class="active">
                <a data-toggle="tab" style="padding: 13px 15px;" href="#webData">公司网站数据库</a>
            </li>

            <li>
                <a data-toggle="tab" style="padding: 13px 15px;" href="#sapData">SAP数据库</a>
            </li>
            <li class="pull-right" style="margin-right: 10px;">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <select id="period" class="form-control input-sm">
                            <option>今日</option>
                            <option>本周</option>
                            <option>本月</option>
                            <option>本季度</option>
                        </select>
                    </div>
                </form>
            </li>
        </ul>
    </header>
    <section class="wrapper tab-container">
        <!-- page start-->
        <div class="tab-content">
            <div class="tab-pane active" id="webData">
                <div class="row">
                    <div class="col-lg-4">
                        <!--new earning start-->
                        <div class="panel terques-chart">
                            <div class="panel-body chart-texture">
                                <div class="chart">
                                    <div class="heading">
                                        <span>2015-03-16</span>
                                        <strong>350 Counts | 20:30:28</strong>
                                    </div>
                                    <div class="sparkline" data-type="line"
                                         data-resize="true" data-height="75"
                                         data-width="90%" data-line-width="1"
                                         data-line-color="#fff" data-spot-color="#fff"
                                         data-fill-color="" data-highlight-line-color="#fff"
                                         data-spot-radius="4"
                                         data-data="[200,135,467,333,526,996,564,123,1090,564,455]"></div>
                                </div>
                            </div>
                            <div class="chart-tittle">
                                <span class="title">在线连接数</span>
                                  <span class="value">
                                  </span>
                            </div>
                        </div>
                        <!--new earning end-->

                        <!--total earning start-->
                        <section class="panel">
                            <header class="panel-heading">
                                攻击类型分析
                            </header>
                            <div class="panel-body">
                                <div id="hero-bar" class="graph"></div>
                            </div>
                        </section>
                        <!--total earning end-->
                    </div>
                    <div class="col-lg-8">
                        <section class="panel panel-primary">
                            <header class="panel-heading" >
                                TOP10 耗时SQL
                            </header>
                            <table id="tbl_sql" class="table table-condensed table-striped table-advance table-hover"
                                   style="table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th style="width: 65%">Column</th>
                                    <th style="width: 10%">Counts</th>
                                    <th style="width: 20%">Total Cost(ms)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="1" data-title="select * from city_list a where a.list_id=?select * from city_list a where
                                        a.list_id=?">
                                        select * from city_list a where a.list_id=?select * from city_list a where
                                        a.list_id=?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="2"
                                        data-title="select * from city_list a where a.list_id=?">
                                        select * from city_list where id = ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="3"
                                        data-title="select * from city_list a ">select * from city_list where id = ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="4"
                                        data-title="select * from city_list where id = ? ">select * from city_list where id = ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="5"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="6"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="7"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="8"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td data-toggle="modal" data-target="#myModal" data-topid="9"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td data-toggle="modal" data-target="#myModal"  data-topid="10"
                                        data-title="select * from city_list a where id=?">select * from city_list where id =
                                        ?
                                    </td>
                                    <td>1033</td>
                                    <td>234</td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                        <section class="panel panel-primary">
                            <header class="panel-heading">
                                警告
                            </header>
                            <table class="table table-striped table-advance table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>时间</th>
                                    <th>警告内容</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2014-11-12 12:23:56</td>
                                    <td>IP 192.16.7.4 使用用户sa登录失败10次，封IP</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2014-11-12 12:23:56</td>
                                    <td>IP 192.16.7.4 sql注入5次，SQL如下：select * from ...</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2014-11-12 12:23:56</td>
                                    <td>IP 192.16.7.4 sql注入5次，SQL如下：select * from ...</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2014-11-12 12:23:56</td>
                                    <td>非法IP访问超过5次，IP地址：133.34.34.123</td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                        <nav>
                            <ul class="pagination pagination-sm pull-right" style="margin-top: 0px;">
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">TOP10耗时SQL - <label id="label_top"></label></h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="sapData">345
            </div>
        </div>
    </section>
    </section>
    <!--main content end-->
{% endblock %}
