<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.html') }}">
    <script src='{{ url_for('static',filename='JS/modernizr.custom.js') }}'></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-reset.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static',filename='assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='assets/morris.js-0.4.3/morris.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">sign in now</h2>
        <div class="login-wrap">
            <input type="text"  name="username" id="id_username" class="form-control" placeholder="User ID" autofocus>
            <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
        </div>

      </form>

    </div>


  </body>
</html>
