{% extends 'header.html' %}
{% block content %}
    <!--main content start-->
      <section id="main-content">
          <header class="tab-head">
              <ul class="nav nav-tabs">

                  <li class="active">
                      <a data-toggle="tab" href="#webData">公司网站数据库</a>
                  </li>

                  <li class="">
                      <a data-toggle="tab" href="#sapData">SAP数据库</a>
                  </li>
              </ul>
          </header>
          <section class="wrapper tab-container">
              <!-- page start-->
              <div class="tab-content">
                  <div class="tab-pane active" id="morris">
                      <div class="row">
                          <div class="col-lg-6">
                          </div>
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      iPhone CPU benchmarks
                                  </header>
                                  <div class="panel-body">
                                      <div id="hero-bar" class="graph"></div>
                                  </div>
                              </section>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Quarterly Apple iOS device unit sales
                                  </header>
                                  <div class="panel-body">
                                      <div id="hero-area" class="graph"></div>
                                  </div>
                              </section>
                          </div>
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Donut flavours
                                  </header>
                                  <div class="panel-body">
                                      <div id="hero-donut" class="graph"></div>
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>

                  <div class="tab-pane" id="chartjs">
                      <div class="row">
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Doughnut
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="doughnut" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Line
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="line" height="300" width="450"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Radar
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="radar" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Polar Area
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="polarArea" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Bar
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="bar" height="300" width="500"></canvas>
                                  </div>
                              </section>
                          </div>
                          <div class="col-lg-6">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Pie
                                  </header>
                                  <div class="panel-body text-center">
                                      <canvas id="pie" height="300" width="400"></canvas>
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>

                  <div class="tab-pane" id="sparkline">
                      <div class="row">
                          <div class="col-lg-4">
                              <!--total earning start-->
                              <div class="panel green-chart">
                                  <div class="panel-body">
                                      <div class="chart">
                                          <div class="heading">
                                              <span>June</span>
                                              <strong>23 Days | 65%</strong>
                                          </div>
                                          <div id="barchart"></div>
                                      </div>
                                  </div>
                                  <div class="chart-tittle">
                                      <span class="title">Total Earning</span>
                                      <span class="value">$, 76,54,678</span>
                                  </div>
                              </div>
                              <!--total earning end-->
                          </div>
                          <div class="col-lg-4">
                              <!--new earning start-->
                              <div class="panel terques-chart">
                                  <div class="panel-body chart-texture">
                                      <div class="chart">
                                          <div class="heading">
                                              <span>Friday</span>
                                              <strong>$ 57,00 | 15%</strong>
                                          </div>
                                          <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="300%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564]"></div>
                                      </div>
                                  </div>
                                  <div class="chart-tittle">
                                      <span class="title">New Earning</span>
                                      <span class="value">
                                          <a href="#" class="active">Market</a>
                                          |
                                          <a href="#">Referal</a>
                                          |
                                          <a href="#">Online</a>
                                      </span>
                                  </div>
                              </div>
                              <!--new earning end-->
                          </div>
                          <div class="col-lg-4">
                              <section class="panel">
                                  <header class="panel-heading">
                                      Pie
                                  </header>
                                  <div class="panel-body text-center">
                                      <div class="inline-block">
                                          <div id="pie-chart2" style="width: 150px; height: 128px" ></div>
                                      </div>
                                  </div>
                              </section>
                          </div>
                      </div>
                  </div>

              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
{% endblock %}
