{% extends 'header.html' %}
{% block content %}
    <div class='container' style="width: 100%">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/index">Dashboard</a></li>
                    <li><a href="/database">Database Proxy</a></li>
                    <li class="active"><a href="/sql">SQL Log</a></li>
                    <li><a href="JavaScript:void(0);"  onclick="doToggleAdmin(this)">System</a></li>
                    <li name="admin_detail"><a href="/normal">&nbsp;&nbsp;&nbsp;&nbsp;Normal Config</a></li>
                    <li name="admin_detail"><a href="/proxy">&nbsp;&nbsp;&nbsp;&nbsp;Proxy Server Config</a></li>
                    <li name="admin_detail"><a href="/user">&nbsp;&nbsp;&nbsp;&nbsp;User Management</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            </div>
        </div>
    </div>
{% endblock %}
